@font-face {
    font-family: 'quicksanditalic';
    src: url('quicksand-italic-webfont.woff2') format('woff2'),
         url('quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    background-image: url("../images/angela_pic.jpg");
    background-size: 35%;
    background-repeat: repeat;
}
body {
    font-family:  'quicksanditalic', helvetica, sans-serif;
}
#h {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 500px;
}
main {
    text-align: center;
}
#ul {
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 200px;
}
a:hover , a:focus {
    color: pink;
}