body {
    font-family: sans-serif;
}
h1 {
    font-size: 2em;
    color: orange;
    font-style: italic;
    text-shadow: 2px 2px black;
}
main h2::first-letter {
    font-size: 2em;
}
header img {
    float: left;
    margin-right: 10px;
}
header h1 {
    margin-left: 20px;
}
header h2 {
    margin-left: 20px;
}
a {
    color: orange;
    font-weight: bold;
}
a:hover {
    color: green;
}
a:focus {
    color: green;
}
ul li {
    margin-bottom: 10px;
}
footer {
    font-size: 0.8em;
    text-align: center;
}
